body {
    background-color: #f9fafc;
}

.nav-bar {
    display: flex;
    flex-direction: column;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #69696a;
    font-size: 18px;
    padding-left: 30px;
}

.box-2 {
    padding-bottom: 10px;
}

.box-1 {
    margin-top: 25px;
    font-size: 18px;
    padding-left: 30px;
}

#outer-container {
    position: relative;
    margin: 30px;
}

#lorem {
    padding-left: 20px;
    color: #69696a;
    border-left: #69696a solid 2px;
    font-size: 18px;
}

.button {
    background-color: #000;
    color: #f9fafc;
    border-radius: 25px;
    padding: 10px;
    width: 100%;
    font-size: 18px;
}


@media only screen and (min-width: 480px) {
    body {
        box-sizing: border-box;
        margin-right: 4%;
        background-color: #f9fafc;
    }
    .nav-bar {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
    }
    .box-1 {
        display: inline-flex;
        align-self: flex-start;
        font-size: 20px;
    }
    .box-2 {
        display: inline-flex;
        margin-left: auto;
        align-self: flex-end;
    }
    a {
        padding: 15px;
        color: #69696a;
        text-decoration: none;
        font-size: 18px;
    }
    .circle {
        border-radius: 50%;
        opacity: 15%;
        float: right;
    }
    .pink {
        background: rgba(247, 136, 167, 0.6);
        width: 300px;
        height: 300px;
        z-index: 1;
        position: absolute;
        left: 700px;
        top: 20px;
    }
    .purple {
        background: rgba(207, 130, 213, 0.6);
        width: 150px;
        height: 150px;
        z-index: 2;
        position: absolute;
        left: 950px;
        top: 50px;
    }
    .peach {
        background: rgba(247, 193, 162, 0.7);
        width: 200px;
        height: 200px;
        z-index: 3;
        position: absolute;
        left: 900px;
        top: 175px;
    }
    #lorem {
        float: left;
        width: 40%;
        border-left: 2px solid #69696a;
        padding-left: 20px;
        font-size: 18px;
        color: #69696a;
    }
    #outer-container {
        margin-top: 100px;
    }
    #scroll {
        position: fixed;
        left: 50%;
        top: 90%;
        transform: translate(-50%, -10%);
        padding: 15px;
        font-size: 18px;
        width: 10%;
    }
    #hire-us {
        padding-left: 25px;
        padding-right: 25px;
        font-size: 18px;
    }
    .button {
        background-color: #000;
        color: #f9fafc;
        border-radius: 25px;
    }
}